.slah {
  table {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    @media (max-width:500px) {
      width: 300px;
    }
    @media (max-width:320px) {
      width: 180px;
    }
  }
}